@{
    ViewData["Title"] = "Home Page";
}
<style>
    .showcase {
        width: 100%;
        height: 60vh;
        position: relative;
        background: url('https://images.pexels.com/photos/3791617/pexels-photo-3791617.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260') no-repeat center center/cover;
        background-position: center top;
        background-size: cover;
    }
</style>

<div>
    <div class="p-4 p-md-5 mb-4 text-white rounded showcase container">
        <div class="col-md-6 px-0 ">
            <h1 class="display-4 fst-italic">Bienvenido</h1>
            <p class="lead my-3">
                La única plataforma que necesitarás para manejar tu negocio:
                aplicaciones integradas, sencillas, y adoradas por millones de usuarios felices.
            </p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Comienza ahora.</a></p>
        </div>
    </div>
</div>

<div class="container d-flex justify-content-between">
    <div class="card" style="width: 18rem;">
        <img src="https://img.icons8.com/plasticine/400/000000/car--v2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://img.icons8.com/plasticine/400/000000/car--v2.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://img.icons8.com/plasticine/400/000000/car--v2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>