@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h1 class="well">Registro de Usuario</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Nombre</label>
                            <input type="text" placeholder="Ingrese su nombre" class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Apellidos</label>
                            <input type="text" placeholder="Ingrese sus apellidos" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Dirección</label>
                        <textarea placeholder="Ingrese su dirección" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Provincia</label>
                            <input type="text" placeholder="Ingrese la Provincia" class="form-control">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label>Ciudad</label>
                            <input type="text" placeholder="Ingrese el nombre de la ciudad" class="form-control">
                        </div>
                    </div>
                    @*<div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Title</label>
                                <input type="text" placeholder="Enter Designation Here.." class="form-control">
                            </div>
                            <div class="col-sm-6 form-group">
                                <label>Company</label>
                                <input type="text" placeholder="Enter Company Name Here.." class="form-control">
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label>Numero de teléfono</label>
                        <input type="text" placeholder="Ingrese su numero de teléfono" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Correo electrónico</label>
                        <input type="text" placeholder="Ingrese su correo aquí" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Website</label>
                        <input type="text" placeholder="Enter Website Name Here.." class="form-control">
                    </div>
                    <button type="button" class="btn btn-lg btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>